@charset "utf-8";
html,body,.page-content-wrapper{
	height:100%
}
/*
一张图
*/
.information{
	height: 100%;
}
.information  .info-left{
	width: 260px;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
    transition:all  0.4s;
	-webkit-transition:all  0.4s;
}
.information .left-nav{
	overflow:hidden;
	background: #efefef;
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
}
.information .left-nav>li{
	cursor: pointer;
    float: left;
    width: 33.3333%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #4c4c4c;
    font-size: 16px;
    position: relative;
}
.information .left-nav>li span{
	display: none;
    width: 30px;
    height: 4px;
    background: #116a51;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}
.information .left-nav>li.info-li-active{
    color: #116a51;
}
.information .left-nav>li.info-li-active span{
	display:block;
}
.information .left-menu{
	height: calc(100% - 50px);
    overflow: hidden;
    background: #5a5a5a;
}
.information .menu-list{
	height: calc(100% - 65px);
    line-height: 50px;
    overflow: hidden;
}
.information .menuType{
	overflow: hidden;
    line-height: 45px;
    background: #efefef;
   padding: 10px 15px;
}
.information .menuType>div{
	float: left;
    width: 50%;
    text-align: center;
}
.information .menuType label{
	position: relative;
    font-weight: normal;
    color: #4c4c4c;    
    margin: 0;
}
.information .menuType label input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    z-index: -1;
}
.information .menuType label.menuType-active span{
	background: #efefef;
    color: #4c4c4c;
    padding: 8px 15px;
    border-radius: 10px;
}
.information .menuType label.menuType-active span{
	background: #116a51;
    color: #fff;
}
.information .menuList > li > a {
     display: block;
    padding-left: 24px;
    color: #fff;
    overflow: hidden;
}

.information .menuList > li > a > .iconfont {
    margin-right: 10px;
    float: left;
    transform: rotate(0deg);
}
.information .listWrap{
	height: 100%;
    overflow: auto;
}
.information  .menuList{
	padding: 0;
    margin: 0;    
}
.information  .menuList>li{
	border-bottom: 1px solid rgb(238, 238, 238);
}
.information  .menuList a:focus, .information  .menuList a:hover {
	color: #fff;
}
.information .sub_menu{
	display:none;
	padding-left: 45px;
}
.information .sub_menu .radio,
.information .sub_menu .checkbox{
	margin: 0;
    line-height: 45px;
    color: #fff;
    overflow: hidden;
}
.information .sub_menu .radio  .fa-filter,
.information .sub_menu .checkbox  .fa-filter{
 	margin-right: 10px;
    float: right;
    cursor: pointer;
    line-height: 46px;
    display:none
 }
 .information .sub_menu>div:hover .fa-filter{
	display:inline-block
}
.information .sub_menu .radio label::before,
.information .sub_menu .checkbox label::before{
	top: 50%;
    transform: translateY(-50%);
}
.information .sub_menu .radio-info input[type="radio"]:checked + label::after,
.information .sub_menu .checkbox-info input[type="checkbox"]:checked + label::after{
	background: none;
}
.information .sub_menu .radio-info input[type="radio"]:checked + label::before,
.information .sub_menu .checkbox-info input[type="checkbox"]:checked + label::before{
	border-color: #116a51;
	background:#116a51;
}
.information .sub_menu .radio label::after,
.information .sub_menu .checkbox label::after{
	font-family: iconfont !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e63a" !important;
    color: #fff;
    font-weight: bolder;
    background: none;
    font-size: 12px;
    left: 3px;
    top: 1px;
}
.information .sub_menu .checkbox label::after{
	 left: 0px;
    top: -1px;
}
.information .sub_menu .checkbox input[type="checkbox"]:focus + label::before,
.information .sub_menu .checkbox input[type="radio"]:focus + label::before ,
.information .sub_menu .radio input[type="radio"]:focus + label::before {
  outline: none;
}
.information  .info-right{
	height: calc(100% - 16px);
    position: relative;
    width: calc(100% - 283px);
    overflow-y: hidden;
    border: 2px solid #116a51;
    margin: 8px 8px 8px 0;
}
/*地图类型切换*/
.information .yx-box{
	position: absolute;
    right: 15px;
    top: 15px;
    width: 200px;
}
.information .yx-box .type1{	
	background-image: url(../img/information/type.png);
    background-position: -135px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.information .yx-box .type2{	
	background-image: url(../img/information/type.png);
    background-position: -67.5px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.information .yx-box .type3{	
	background-image: url(../img/information/type.png);
    background-position: 1px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.information .yx-box .type1.yx_active{	
	background-image: url(../img/information/type.png);
    background-position: -129px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.information .yx-box .type2.yx_active{	
	background-image: url(../img/information/type.png);
    background-position: -64px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.information .yx-box .type3.yx_active{	
	background-image: url(../img/information/type.png);
    background-position: 1px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.information .cards {
  height: 64px;
  list-style-type: none;
  position: relative;
  cursor: pointer;  
}
.information .cards:hover span{

	visibility:hidden;
}
.information .cards li.card {
  overflow: hidden;
  height: 43px;
  width: 62px;
  position: absolute;
  right: 0px;
  box-shadow: 1px 2px 2px 0 #aaa;
  -webkit-transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
  border:1px solid #dcdcdc;
}

.information .cards li.card.card-1 {
  z-index: 10;
}
.information .cards li.card.card-2 {
  z-index: 9;
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}
.information .cards li.card.card-3 {
  z-index: 8;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.information .cards.transition li.card.card-1 {
  right: 0;
}
.information .cards.transition li.card.card-2 {
  right: 76px;
}
.information .cards.transition li.card.card-3 {
  right: 153px;
}
.information .yx_active {
    border: 2px solid #116a51 !important;
}
.information .yx-box span {
    width: 75px;
    height: 41px;
    position: absolute;
    background: url(../img/information/typeBg.png) 0 0 no-repeat;
    background-size: contain;
    top: 3px;
    right: -1px;
    transition: visibility cubic-bezier(0.63, 0.15, 0.03, 1.12);
    -webkit-transition: visibility cubic-bezier(0.63, 0.15, 0.03, 1.12);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
/*工具栏*/
.information .tool-box{
	position: absolute;
    top: 80px;
    right: 15px;
    background: #7d7d7d;
    border-radius: 4px;
    box-shadow: 1px 1px 8px #ccc;
    padding: 2px 0 2px;
}
.information .tool-box >li{
	cursor: pointer;
    width: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
}
.information .tool-box li i{
	width: 30px;
    height: 30px;
    display: inline-block;
    margin-top: 5px;
}
.information .tool-box .tool1{
	background-image: url(../img/information/map_res.png);
	background-position: 3px 7px;
	background-repeat:  no-repeat;
	background-size: 80%;
}
.information .tool-box .tool2{
	background-image: url(../img/information/map_res.png);
	background-position: 3px -30px;
	background-repeat:  no-repeat;
	background-size: 80%;
}
.information .tool-box .tool3{
	background-image: url(../img/information/map_res.png);
	background-position: 3px -64px;
	background-repeat:  no-repeat;
	background-size: 80%;
}
.information .tool-box .tool4{
	background-image: url(../img/information/map_res.png);
	background-position: 3px -100px;
	background-repeat:  no-repeat;
	background-size: 80%;
}
.information .tool-box .tool5{
	background-image: url(../img/information/map_res.png);
	background-position: 3px -137px;
	background-repeat:  no-repeat;
	background-size: 80%;
}
.information .tool-box .tool6{
	background-image: url(../img/information/map_res.png);
	background-position: 3px -170px;
	background-repeat:  no-repeat;
	background-size: 80%;
}
.information .tool-box .tool_active i{
	background-color: #fff;
    border-radius: 50%;
}
.information .tool-box .tool_active .tool1{
	background-image: url(../img/information/map_res1.png);
	background-position: 3px 7px;
	background-repeat:  no-repeat;
	background-size: 80%;
}
.information .tool-box .tool_active .tool2{
	background-image: url(../img/information/map_res1.png);
	background-position: 3px -30px;
	background-repeat:  no-repeat;
	background-size: 80%;
}
.information .tool-box .tool_active .tool3{
	background-image: url(../img/information/map_res1.png);
	background-position: 3px -64px;
	background-repeat:  no-repeat;
	background-size: 80%;
}
.information .tool-box .tool_active .tool4{
	background-image: url(../img/information/map_res1.png);
	background-position: 3px -100px;
	background-repeat:  no-repeat;
	background-size: 80%;
}
.information .tool-box .tool_active .tool5{
	background-image: url(../img/information/map_res1.png);
	background-position: 3px -137px;
	background-repeat:  no-repeat;
	background-size: 80%;
}
.information .tool-box .tool_active .tool6{
	background-image: url(../img/information/map_res1.png);
	background-position: 3px -170px;
	background-repeat:  no-repeat;
	background-size: 80%;
}
/*查询框*/

.info_modal{
	position: absolute;
	top:-30px;
	left:535px;
}

.info_modal .modal-dialog{
	width:470px;
}
.info_modal .form-group{
	margin:0;
}
.info_modal .form-control{
	background: #f6f7fb;
    border: 1px solid #f3f4f8;
}
.info_modal .modal-footer{
	text-align:center;
}
.info_modal .modal-footer .btn{
	padding: 6px 46px;
    font-size: 18px;
    font-weight: bold;
}
.map_layerTools{

}
.info_modal .modal-footer .btn-default:focus{
	border-color: #ccc !important
}

/*表格*/
#tongjituDiv{
	width: 550px;
    height: auto;
    min-height: 200px;
}
#tongjibiao{
	margin-bottom:0
}
#tongjituDiv .table-title{
    width: 550px;
}

.mobile_table{
	width: 464px; 
  	height: 75%; 
	position: fixed;
	right: 180px; 
  	left: auto; 
  	top: 190px;
    background: #fff;
    opacity: .95;
    box-shadow: 0 0 5px #ccc;
    overflow: hidden;
    z-index: 1200;
      
}
.mobile_table .table-title{
	width: 464px;
    height: 30px;
    line-height: 30px;
	cursor: move; 
	position: fixed;
}
.mobile_table .table-title>div div{
    float: left;
    font-size: 13px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:initial;
    max-width: 90%;
}
.mobile_table .table-title span {
    padding: 6px 0;
}
.mobile_table .table-title p{
	float: right;
    margin: 0 8px 0 0;
}
.mobile_table .table-title p a {
	display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/information/indexImg.png) -160px 0 no-repeat;
    cursor: pointer;
    border: none;
}
.mobile_table .table-title i{
	display: inline-block;
    width: 14px;
    height: 11px;
    background: url(../img/information/max_big.png) no-repeat;
    cursor: pointer;
    background-size: 100%;
    margin: 0px 8px 0 0;
}
.mobile_table .table-body {
    width: 98%; 
    height: 88%; 
    max-height: 400px;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    margin: 35px 1% 0;
    overflow: auto;  
    top:30px;
    left:0;
    border:none;   
}

.mobile_table .table-body>table>thead>tr{
	height: 35px;
    background: #005bac;
}
.mobile_table .table-body>table>thead>tr td{
    color: #fff;
}
.mobile_table .table-body>table>thead>tr>td{
	padding: 0 5px;
	line-height: 35px;
	
}
.mobile_table .table-body>table>tbody>tr{
	height: 35px;
}
.mobile_table .table-body>table>tbody>tr>td{
	padding: 0 5px;
	line-height: 35px;
	vertical-align: middle !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-top: 2px dotted #DEDFE1;
}
.mobile_table .table-body>table>tbody>tr:first-child td{
	border-top: none;
}
.mobile_table .pagination>p>input{
	width: 60px;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    float: left;
    margin-right: 5px;
    margin-left: 10px;
}
.mobile_table .pagination p button{
	padding: 5px 8px;
}
/*地图区域向左移动*/
#toggle-sidebar{
	cursor: pointer;
    width: 15px;
    height: calc(100% - 16px);
    position: absolute;
    left: 260px;
    margin: 8px 0;
}
#toggle-sidebar  img,#toggle-sidebar2  img{
	width: 15px;
    height: 90px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
}
#toggle-sidebar2  img{
	transform: translateY(-50%) rotate(0deg);
}
/*柱状图区域*/
.toggleInfo-box{
	background: #fff;
    min-height: 100%;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #b1b1b1;
}
.toggleInfo-box  .box1,
.toggleInfo-box  .box2,
.toggleInfo-box  .box3{	
    margin-bottom: 2%;
}
.toggleInfo-box  .box2{
	box-shadow: 1px 1px 8px #ccc inset;
}
.toggleInfo-box  .box3{
	margin-bottom: 0;
}
.toggleInfo-box  .box1{
	text-align: left;
    text-indent: 28px;
    padding: 2% 15px 1%;
    line-height: 25px;
}
.toggleInfo-box  .box1 #wrdk_detail{
    border: 1px solid #b1b1b1;
    padding: 2px;
}
.toggleInfo-box  .box2,
.toggleInfo-box  .box3{
	padding: 0;
}

.infor-maps{	
	transition:all  0.4s;
	-webkit-transition:all  0.4s;
}
.infor-map{
	height: 100%
}  
.toggles{
	width: calc(100% - 16px)  !important;
    margin: 8px  !important;
    border: none !important;
    overflow: hidden;
}
.toggles .infor-map{	
	transition:all  0.4s;
	-webkit-transition:all  0.4s;
	height: 100% !important;
    width: calc(100% - 275px) !important;
    border: 2px solid #116a51 !important;
    float: left !important;
    position: relative !important;
}
.toggles .toggles2{
	width: 100% !important;
}
.toggleBar-left{
    left: 8px !important;
    z-index: 10 !important;
}
.toggleBar-left img{
	transform: translateY(-50%) rotate(0deg) !important;
}

.toggles .toggleInfo{
	transition:all  0.4s;
	-webkit-transition:all  0.4s;
	display: block;
    width: 260px;
    height: 100%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    float: right;
    overflow-x: hidden;
    overflow-y: auto;
}
.toggles  #toggle-sidebar2{
	width: 15px;
    height: 100%;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 244px;
}
.toggles .toggleBar-right{
	    right: 0 !important;
}
.toggles .toggleBar-right img{
	transform: translateY(-50%) rotate(180deg) !important;
}
.box3 .wrdk_barTip{
	margin: 10px 15px;
}

.box3 .wrdk_barTip p{
	text-shadow: -1px 0 #1e8fd1, 0 1px #1e8fd1, 1px 0 #1e8fd1, 0 -1px #1e8fd1;
    background: #88c5e9;
    color: #fff;
    margin: 0;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 12px;
}

.checkbox, .radio {
    margin: 0 !important;
}

/*地图弹出框样式*/
.infoBubble-pop{
	width:450px !important;
	height: auto !important;
	line-height:30px;
}
.infoBubble-pop .window_table{
	height: 35px;
}
.infoBubble-pop .windowTitle{
	line-height: 35px;
    font-size: 14px;
    width: 88%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.infoBubble-pop .close{
	margin-top: 12px !important;
}
.infoBubble-pop .row{
	margin:0;
}
.infoBubble-pop .wrdk_ipt{
	width: 28%;
}
  .wrdk_a a{
	color: #90b8dd;
}
 .wrdk_posa{
	padding-left: 0;
    text-align: left;
}
 .wrdk_posa>a{
	margin-right: 12px; 
}
 .wrdk_posa .active{
	display: inline-block;
    background: #90b8dd;
    line-height: 18px;
    padding: 2px 5px;
    color: #fff;
}

 .wrdk_ipt{
    text-align: right;
}
.wrdk_ipt input{
	width: 45px;
    margin-right: 5px;
    background: #efeff4;
    line-height: 22px;
    text-align: center;
}
/* 比例尺样式 */
.map_blc{
	position: absolute;
    bottom: 10px;
    left: 10px;
    background: -o-linear-gradient(#fefefe,#f4f4f4);
    background: -moz-linear-gradient(#fefefe,#f4f4f4);
    background: -mos-linear-gradient(#fefefe,#f4f4f4);
    background: linear-gradient(#fefefe,#f4f4f4);
    height: 75px;
    box-shadow: 0px 0px 8px rgb(59,101,173);
    min-width: 200px;
	padding: 12px 22px 18px 14px;
    color: #666;
    width: 260px;
}
.map_blc #scalebar:before{
	content: "当前比例尺：";
    display: inline-block;
    font-size: 12px;
}
.map_blc .esriScalebar{
	left: 90px;
    top: 16px;
}
.map_blc>span{
    display: block;
    margin-top: 12px;
    font-size: 12px;
}
.map_blc>span strong{
    font-size: 14px;
}
#countryDetail{
	width: 250px;
    margin: auto;
}
#countryDetailTable{
	width:100%
}
#countryDetailTable>thead tr{
	height: 35px;
    background: #005bac;
    color: #fff;
}
#countryDetailTable>tbody tr{
	background: none;
    height: 35px;
}
.window_rt {
    background: url(../img/information/indexImg.png) -160px 0 no-repeat !important;
}
.infor-map .menuTip{
	/*display:none;*/
    /*min-width: 260px;
    width: 260px;*/
    border: 0;
    padding: 5px 10px;
    background: -o-linear-gradient(#fefefe,#f4f4f4);
    background: -moz-linear-gradient(#fefefe,#f4f4f4);
    background: -mos-linear-gradient(#fefefe,#f4f4f4);
    background: linear-gradient(#fefefe,#f4f4f4);
    box-shadow: 0px 0px 8px rgb(59,101,173);
    position: absolute;
    top: 15px;
    left: 50%;
    border-radius: 8px;
    transform: translateX(-50%);
}

/* 图层控制滑块样式 */
.tool_hover>div{
	padding: 15px 20px;
    border-bottom: 1px solid #eee;
    margin: 0;
    color:#fff;
}
.tool_hover>div:last-child{
	border:none;
}
.tool_hover .ui-widget.ui-widget-content {
    padding-top: 5px;
}
.tool_hover .ui-state-default,.tool_hover .ui-widget-content .ui-state-default,.tool_hover .ui-widget-header .ui-state-default{
	margin-top: 0;
    width: 15px;
    height: 15px;
}
.tool_hover .warning-element .eye{
    margin-right: 15px;
}
.tool_hover .warning-element .row{
	width: 90%;
    margin-top: -8px;
}   
.tool_hover .warning-element .row>div:first-child{
	height: 30px;
    line-height: 30px;
}
#shengJie .slider-horizontal{
	margin-top: -15px;
}
/* 图例 */
.tuli{
	display:none;
	overflow: hidden !important;
	height: calc(100% - 40px);
	
}
/* 污染地块敏感点分布表格 */
#info_table1 #title{
	font-size: 13px;
    font-weight: 700;
    border-bottom: 2px solid #0182D3;
}
#info_table1 .wrdk-table th{
	color:#fff
}
#info_table1,#tongjituDiv{
	width: 550px;
    height:auto;
}
#info_table1 .table-title,#tongjituDiv .table-title{
    width: 550px;
}