<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gistone.cdsems.database.mapper.CompanyPolluterMapper">

	<sql id="Base_Column_List">
        A.ID,A.COMPANY_ID,A.PRODUCTION_AREA,A.STORAGE_AREA,A.WATER_TREATMENT_AREA,A.SOLID_DISPOSAL_AREA,A.POLLUTER_AREA,
        A.PRODUCT,A.GAS_TREATMENT,A.WATER_TREATMENT,A.SOLID_TREATMENT,A.LEAK,A.ACCIDENT,A.TRACE,
        A.CREATE_USER_ID,A.CREATE_TIME,A.UPDATE_USER_ID,A.UPDATE_TIME
    </sql>
    
    <sql id="Base_Column_List_B">
        B.COMPANY_NAME,B.LEGAL_PERSON,B.ORGANIZING_CODE,B.PROVINCE_CODE,B.CITY_CODE,B.COUNTY_CODE,B.ADDRESS
    </sql>
    
    <!-- 插入一条数据 -->
    <insert id="save" parameterType="java.util.Map" keyProperty="pd.id">
	    <selectKey resultType="long" order="BEFORE" keyProperty="pd.id">
	      	SELECT  SYS_RESOURCE_ID_SEQ.NEXTVAL AS id FROM DUAL
	   	</selectKey>
    	insert into T_COMPANY_POLLUTER(
	    	ID,COMPANY_ID,PRODUCTION_AREA,STORAGE_AREA,WATER_TREATMENT_AREA,SOLID_DISPOSAL_AREA,POLLUTER_AREA,
        	PRODUCT,GAS_TREATMENT,WATER_TREATMENT,SOLID_TREATMENT,LEAK,ACCIDENT,TRACE,
        	CREATE_USER_ID,CREATE_TIME
    	)values(
    		#{pd.id},
    		#{pd.COMPANY_ID,jdbcType=NUMERIC},
    		#{pd.PRODUCTION_AREA,jdbcType=NUMERIC},
    		#{pd.STORAGE_AREA,jdbcType=NUMERIC},
	    	#{pd.WATER_TREATMENT_AREA,jdbcType=NUMERIC},
	    	#{pd.SOLID_DISPOSAL_AREA,jdbcType=NUMERIC},
	    	#{pd.POLLUTER_AREA,jdbcType=NUMERIC},
	    	#{pd.PRODUCT,jdbcType=VARCHAR},
	    	#{pd.GAS_TREATMENT,jdbcType=NUMERIC},
	    	#{pd.WATER_TREATMENT,jdbcType=NUMERIC},
	        #{pd.SOLID_TREATMENT,jdbcType=VARCHAR},
	        #{pd.LEAK,jdbcType=VARCHAR},
	        #{pd.ACCIDENT,jdbcType=VARCHAR},
	        #{pd.TRACE,jdbcType=VARCHAR},
	        #{pd.CREATE_USER_ID,jdbcType=NUMERIC},
	        sysdate
    	)
    </insert>
    
    <!-- 批量插入数据 -->
    <insert id="saveBatch" parameterType="java.util.Map">
    	insert into T_COMPANY_POLLUTER(
	    	ID,COMPANY_ID,PRODUCTION_AREA,STORAGE_AREA,WATER_TREATMENT_AREA,SOLID_DISPOSAL_AREA,POLLUTER_AREA,
        	PRODUCT,GAS_TREATMENT,WATER_TREATMENT,SOLID_TREATMENT,LEAK,ACCIDENT,TRACE,
        	CREATE_USER_ID,CREATE_TIME
    	)select SYS_RESOURCE_ID_SEQ.NEXTVAL,a.* from(
    	<foreach collection ="list" item="pd" separator ="union" close=")" open="(">
        select
    		#{pd.COMPANY_ID,jdbcType=NUMERIC},
    		#{pd.PRODUCTION_AREA,jdbcType=NUMERIC},
    		#{pd.STORAGE_AREA,jdbcType=NUMERIC},
	    	#{pd.WATER_TREATMENT_AREA,jdbcType=NUMERIC},
	    	#{pd.SOLID_DISPOSAL_AREA,jdbcType=NUMERIC},
	    	#{pd.POLLUTER_AREA,jdbcType=NUMERIC},
	    	#{pd.PRODUCT,jdbcType=VARCHAR},
	    	#{pd.GAS_TREATMENT,jdbcType=NUMERIC},
	    	#{pd.WATER_TREATMENT,jdbcType=NUMERIC},
	        #{pd.SOLID_TREATMENT,jdbcType=VARCHAR},
	        #{pd.LEAK,jdbcType=VARCHAR},
	        #{pd.ACCIDENT,jdbcType=VARCHAR},
	        #{pd.TRACE,jdbcType=VARCHAR},
	        #{pd.CREATE_USER_ID,jdbcType=NUMERIC},
	        sysdate
    	from dual
    	</foreach>
    	) a
    </insert>
    
    <!-- 根据id修改数据 -->
    <update id="update" parameterType="java.util.Map">
    	update T_COMPANY_POLLUTER set
    		COMPANY_ID = #{pd.COMPANY_ID,jdbcType=NUMERIC},
    		PRODUCTION_AREA = #{pd.PRODUCTION_AREA,jdbcType=NUMERIC},
    		STORAGE_AREA = #{pd.STORAGE_AREA,jdbcType=NUMERIC},
	    	WATER_TREATMENT_AREA = #{pd.WATER_TREATMENT_AREA,jdbcType=NUMERIC},
	    	SOLID_DISPOSAL_AREA = #{pd.SOLID_DISPOSAL_AREA,jdbcType=NUMERIC},
	    	POLLUTER_AREA = #{pd.POLLUTER_AREA,jdbcType=NUMERIC},
	    	PRODUCT = #{pd.PRODUCT,jdbcType=VARCHAR},
	    	GAS_TREATMENT = #{pd.GAS_TREATMENT,jdbcType=NUMERIC},
	    	WATER_TREATMENT = #{pd.WATER_TREATMENT,jdbcType=NUMERIC},
	        SOLID_TREATMENT = #{pd.SOLID_TREATMENT,jdbcType=VARCHAR},
	        LEAK = #{pd.LEAK,jdbcType=VARCHAR},
	        ACCIDENT = #{pd.ACCIDENT,jdbcType=VARCHAR},
	        TRACE = #{pd.TRACE,jdbcType=VARCHAR},
	       	UPDATE_USER_ID = #{pd.UPDATE_USER_ID,jdbcType=NUMERIC},
	        UPDATE_TIME = sysdate
	    where ID=#{pd.ID}
    </update>
    
    <!-- 根据id删除数据 -->
    <delete id="delete" parameterType="java.lang.Long">
    	delete from T_COMPANY_POLLUTER where ID=#{id}
    </delete>
    
    <!-- 批量删除数据 -->
    <delete id="deleteBatch" parameterType="java.lang.String">
    	delete from T_COMPANY_POLLUTER where ID in
    	<foreach collection="ids" item="id" index="index" separator="," open="(" close=")">
    		#{id}
    	</foreach>
    </delete>
    
    <!-- 查询分页数据 -->
    <select id="listPage" parameterType="java.util.Map" resultType="java.util.Map">
    	select * from 
	    	(select <include refid="Base_Column_List"></include>,ROWNUM RN,
					<include refid="Base_Column_List_B"></include>
	    	from T_COMPANY_POLLUTER A
	    	left join T_COMPANY_INFO B on A.COMPANY_ID = B.ID
	    	where 1=1 
	    	<if test='pd.company_name!=null and pd.company_name!=""'>
	    		and B.COMPANY_NAME like '%${pd.company_name}%'
	    	</if>
	    	<if test='pd.organizing_code!=null and pd.organizing_code!=""'>
    			and B.ORGANIZING_CODE like '%${pd.organizing_code}%'
	    	</if>
	    	<if test='pd.legal_person!=null and pd.legal_person!=""'>
	    		and B.LEGAL_PERSON like '%${pd.legal_person}%'
	    	</if>
	    	<if test='pd.address!=null and pd.address!=""'>
	    		and B.ADDRESS like '%${pd.address}%'
	    	</if>
	    	<if test='pd.areaType!=null and pd.areaType!=""'>
		    	<if test='pd.minVal!=null and pd.minVal!=""'>
		    		and A.${pd.areaType} &gt;= #{pd.minVal}
		    	</if>
	    		<if test='pd.maxVal!=null and pd.maxVal!=""'>
		    		and A.${pd.areaType} &lt;= #{pd.maxVal}
		    	</if>
	    	</if>
	    	<if test='pd.suLevel!=null and pd.suLevel!="" and pd.suLevel==2 and pd.suRegioncode!=null and pd.suRegioncode!=""'>
	    		and B.CITY_CODE = #{pd.suRegioncode}
	    	</if>
	    	<if test='pd.suLevel!=null and pd.suLevel!="" and pd.suLevel==3 and pd.suRegioncode!=null and pd.suRegioncode!=""'>
	    		and B.COUNTY_CODE = #{pd.suRegioncode}
	    	</if>
	    	<if test='pd.suLevel!=null and pd.suLevel!="" and pd.suLevel==4 and pd.suCompanyname!=null and pd.suCompanyname!=""'>
	    		and B.COMPANY_NAME = #{pd.suCompanyname}
	    	</if>
	    	and ROWNUM &lt;= #{pd.endrow} 
    		order by A.ID)
    	WHERE RN &gt; #{pd.startrow}  
    </select>
    
    <!-- 查询分页数据总条数 -->
    <select id="listPageTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
    	select count(A.ID) 
    	from T_COMPANY_POLLUTER A
	    	left join T_COMPANY_INFO B on A.COMPANY_ID = B.ID
	    where 1=1 
	    	<if test='pd.company_name!=null and pd.company_name!=""'>
	    		and B.COMPANY_NAME like '%${pd.company_name}%'
	    	</if>
	    	<if test='pd.organizing_code!=null and pd.organizing_code!=""'>
    			and B.ORGANIZING_CODE like '%${pd.organizing_code}%'
	    	</if>
	    	<if test='pd.legal_person!=null and pd.legal_person!=""'>
	    		and B.LEGAL_PERSON like '%${pd.legal_person}%'
	    	</if>
	    	<if test='pd.address!=null and pd.address!=""'>
	    		and B.ADDRESS like '%${pd.address}%'
	    	</if>
	    	<if test='pd.areaType!=null and pd.areaType!=""'>
		    	<if test='pd.minVal!=null and pd.minVal!=""'>
		    		and A.${pd.areaType} &gt;= #{pd.minVal}
		    	</if>
	    		<if test='pd.maxVal!=null and pd.maxVal!=""'>
		    		and A.${pd.areaType} &lt;= #{pd.maxVal}
		    	</if>
	    	</if>
	    	<if test='pd.suLevel!=null and pd.suLevel!="" and pd.suLevel==2 and pd.suRegioncode!=null and pd.suRegioncode!=""'>
	    		and B.CITY_CODE = #{pd.suRegioncode}
	    	</if>
	    	<if test='pd.suLevel!=null and pd.suLevel!="" and pd.suLevel==3 and pd.suRegioncode!=null and pd.suRegioncode!=""'>
	    		and B.COUNTY_CODE = #{pd.suRegioncode}
	    	</if>
	    	<if test='pd.suLevel!=null and pd.suLevel!="" and pd.suLevel==4 and pd.suCompanyname!=null and pd.suCompanyname!=""'>
	    		and B.COMPANY_NAME = #{pd.suCompanyname}
	    	</if>
    </select>
    
    <!-- 查询全部企业信息 -->
    <select id="listAll" parameterType="java.util.Map" resultType="java.util.Map">
    	select <include refid="Base_Column_List"></include>,
				<include refid="Base_Column_List_B"></include>
    	from T_COMPANY_POLLUTER A
    	left join T_COMPANY_INFO B on A.COMPANY_ID = B.ID
    	where 1=1
    		<if test='pd.company_name!=null and pd.company_name!=""'>
	    		and B.COMPANY_NAME like '%${pd.company_name}%'
	    	</if>
	    	<if test='pd.organizing_code!=null and pd.organizing_code!=""'>
    			and B.ORGANIZING_CODE like '%${pd.organizing_code}%'
	    	</if>
	    	<if test='pd.legal_person!=null and pd.legal_person!=""'>
	    		and B.LEGAL_PERSON like '%${pd.legal_person}%'
	    	</if>
	    	<if test='pd.address!=null and pd.address!=""'>
	    		and B.ADDRESS like '%${pd.address}%'
	    	</if>
	    	<if test='pd.areaType!=null and pd.areaType!=""'>
		    	<if test='pd.minVal!=null and pd.minVal!=""'>
		    		and A.${pd.areaType} &gt;= #{pd.minVal}
		    	</if>
	    		<if test='pd.maxVal!=null and pd.maxVal!=""'>
		    		and A.${pd.areaType} &lt;= #{pd.maxVal}
		    	</if>
	    	</if>
	    	<if test='pd.suLevel!=null and pd.suLevel!="" and pd.suLevel==2 and pd.suRegioncode!=null and pd.suRegioncode!=""'>
	    		and B.CITY_CODE = #{pd.suRegioncode}
	    	</if>
	    	<if test='pd.suLevel!=null and pd.suLevel!="" and pd.suLevel==3 and pd.suRegioncode!=null and pd.suRegioncode!=""'>
	    		and B.COUNTY_CODE = #{pd.suRegioncode}
	    	</if>
	    	<if test='pd.suLevel!=null and pd.suLevel!="" and pd.suLevel==4 and pd.suCompanyname!=null and pd.suCompanyname!=""'>
	    		and B.COMPANY_NAME = #{pd.suCompanyname}
	    	</if>
	    	order by A.ID
    </select>
</mapper>
