<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gistone.cdsems.database.mapper.TDETAILEDCONTAMINATEDMapper">
  <resultMap id="BaseResultMap" type="com.gistone.cdsems.database.entity.TDETAILEDCONTAMINATED">
    <id column="DID" jdbcType="DECIMAL" property="did" />
    <result column="MASSIF_CODE" jdbcType="VARCHAR" property="massifCode" />
    <result column="DETAILED_TITLE" jdbcType="VARCHAR" property="detailedTitle" />
    <result column="DETAILED_WEBSITE" jdbcType="VARCHAR" property="detailedWebsite" />
    <result column="DETAILED_COMPILING_UNIT" jdbcType="VARCHAR" property="detailedCompilingUnit" />
    <result column="DETAILED_COMPILING_TIME" jdbcType="DATE" property="detailedCompilingTime" />
    <result column="INVESTIGATION_REPORT_PATH" jdbcType="VARCHAR" property="investigationReportPath" />
    <result column="TEST_REPORT_PATH" jdbcType="VARCHAR" property="testReportPath" />
    <result column="FILL_STATE" jdbcType="VARCHAR" property="fillState" />
    <result column="RESERVED_FIELD1" jdbcType="VARCHAR" property="reservedField1" />
    <result column="RESERVED_FIELD2" jdbcType="VARCHAR" property="reservedField2" />
    <result column="RESERVED_FIELD" jdbcType="VARCHAR" property="reservedField" />
    <result column="CID" jdbcType="DECIMAL" property="cid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DID, MASSIF_CODE, DETAILED_TITLE, DETAILED_WEBSITE, DETAILED_COMPILING_UNIT, DETAILED_COMPILING_TIME, 
    INVESTIGATION_REPORT_PATH, TEST_REPORT_PATH, FILL_STATE, RESERVED_FIELD1, RESERVED_FIELD2, 
    RESERVED_FIELD, CID
  </sql>
  <select id="selectByExample" parameterType="com.gistone.cdsems.database.entity.TDETAILEDCONTAMINATEDExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_DETAILED_CONTAMINATED
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_DETAILED_CONTAMINATED
    where DID = #{did,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_DETAILED_CONTAMINATED
    where CID = #{cid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByPrimaryKeys" parameterType="java.lang.Long">
    delete from T_DETAILED_CONTAMINATED
    where DID = #{did,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.gistone.cdsems.database.entity.TDETAILEDCONTAMINATEDExample">
    delete from T_DETAILED_CONTAMINATED
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gistone.cdsems.database.entity.TDETAILEDCONTAMINATED">
    <!--<selectKey keyProperty="did" order="AFTER" resultType="java.lang.Long">-->
      <!--Oracle-->
    <!--</selectKey>-->
    <selectKey resultType="java.lang.Long"   order="AFTER" keyProperty="did">
      SELECT T_DETAILED_CONTAMINATED_SEQ.NEXTVAL as did from DUAL
    </selectKey>
    insert into T_DETAILED_CONTAMINATED (MASSIF_CODE, DETAILED_TITLE, DETAILED_WEBSITE, 
      DETAILED_COMPILING_UNIT, DETAILED_COMPILING_TIME, 
      INVESTIGATION_REPORT_PATH, TEST_REPORT_PATH, 
      FILL_STATE, RESERVED_FIELD1, RESERVED_FIELD2, 
      RESERVED_FIELD, CID)
    values (#{massifCode,jdbcType=VARCHAR}, #{detailedTitle,jdbcType=VARCHAR}, #{detailedWebsite,jdbcType=VARCHAR}, 
      #{detailedCompilingUnit,jdbcType=VARCHAR}, #{detailedCompilingTime,jdbcType=DATE}, 
      #{investigationReportPath,jdbcType=VARCHAR}, #{testReportPath,jdbcType=VARCHAR}, 
      #{fillState,jdbcType=VARCHAR}, #{reservedField1,jdbcType=VARCHAR}, #{reservedField2,jdbcType=VARCHAR}, 
      #{reservedField,jdbcType=VARCHAR}, #{cid,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.gistone.cdsems.database.entity.TDETAILEDCONTAMINATED">
    <selectKey keyProperty="did" order="AFTER" resultType="java.lang.Long">
      Oracle
    </selectKey>
    insert into T_DETAILED_CONTAMINATED
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="massifCode != null">
        MASSIF_CODE,
      </if>
      <if test="detailedTitle != null">
        DETAILED_TITLE,
      </if>
      <if test="detailedWebsite != null">
        DETAILED_WEBSITE,
      </if>
      <if test="detailedCompilingUnit != null">
        DETAILED_COMPILING_UNIT,
      </if>
      <if test="detailedCompilingTime != null">
        DETAILED_COMPILING_TIME,
      </if>
      <if test="investigationReportPath != null">
        INVESTIGATION_REPORT_PATH,
      </if>
      <if test="testReportPath != null">
        TEST_REPORT_PATH,
      </if>
      <if test="fillState != null">
        FILL_STATE,
      </if>
      <if test="reservedField1 != null">
        RESERVED_FIELD1,
      </if>
      <if test="reservedField2 != null">
        RESERVED_FIELD2,
      </if>
      <if test="reservedField != null">
        RESERVED_FIELD,
      </if>
      <if test="cid != null">
        CID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="massifCode != null">
        #{massifCode,jdbcType=VARCHAR},
      </if>
      <if test="detailedTitle != null">
        #{detailedTitle,jdbcType=VARCHAR},
      </if>
      <if test="detailedWebsite != null">
        #{detailedWebsite,jdbcType=VARCHAR},
      </if>
      <if test="detailedCompilingUnit != null">
        #{detailedCompilingUnit,jdbcType=VARCHAR},
      </if>
      <if test="detailedCompilingTime != null">
        #{detailedCompilingTime,jdbcType=DATE},
      </if>
      <if test="investigationReportPath != null">
        #{investigationReportPath,jdbcType=VARCHAR},
      </if>
      <if test="testReportPath != null">
        #{testReportPath,jdbcType=VARCHAR},
      </if>
      <if test="fillState != null">
        #{fillState,jdbcType=VARCHAR},
      </if>
      <if test="reservedField1 != null">
        #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null">
        #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField != null">
        #{reservedField,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gistone.cdsems.database.entity.TDETAILEDCONTAMINATEDExample" resultType="java.lang.Long">
    select count(*) from T_DETAILED_CONTAMINATED
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_DETAILED_CONTAMINATED
    <set>
      <if test="record.did != null">
        DID = #{record.did,jdbcType=DECIMAL},
      </if>
      <if test="record.massifCode != null">
        MASSIF_CODE = #{record.massifCode,jdbcType=VARCHAR},
      </if>
      <if test="record.detailedTitle != null">
        DETAILED_TITLE = #{record.detailedTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.detailedWebsite != null">
        DETAILED_WEBSITE = #{record.detailedWebsite,jdbcType=VARCHAR},
      </if>
      <if test="record.detailedCompilingUnit != null">
        DETAILED_COMPILING_UNIT = #{record.detailedCompilingUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.detailedCompilingTime != null">
        DETAILED_COMPILING_TIME = #{record.detailedCompilingTime,jdbcType=DATE},
      </if>
      <if test="record.investigationReportPath != null">
        INVESTIGATION_REPORT_PATH = #{record.investigationReportPath,jdbcType=VARCHAR},
      </if>
      <if test="record.testReportPath != null">
        TEST_REPORT_PATH = #{record.testReportPath,jdbcType=VARCHAR},
      </if>
      <if test="record.fillState != null">
        FILL_STATE = #{record.fillState,jdbcType=VARCHAR},
      </if>
      <if test="record.reservedField1 != null">
        RESERVED_FIELD1 = #{record.reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="record.reservedField2 != null">
        RESERVED_FIELD2 = #{record.reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="record.reservedField != null">
        RESERVED_FIELD = #{record.reservedField,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null">
        CID = #{record.cid,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_DETAILED_CONTAMINATED
    set DID = #{record.did,jdbcType=DECIMAL},
      MASSIF_CODE = #{record.massifCode,jdbcType=VARCHAR},
      DETAILED_TITLE = #{record.detailedTitle,jdbcType=VARCHAR},
      DETAILED_WEBSITE = #{record.detailedWebsite,jdbcType=VARCHAR},
      DETAILED_COMPILING_UNIT = #{record.detailedCompilingUnit,jdbcType=VARCHAR},
      DETAILED_COMPILING_TIME = #{record.detailedCompilingTime,jdbcType=DATE},
      INVESTIGATION_REPORT_PATH = #{record.investigationReportPath,jdbcType=VARCHAR},
      TEST_REPORT_PATH = #{record.testReportPath,jdbcType=VARCHAR},
      FILL_STATE = #{record.fillState,jdbcType=VARCHAR},
      RESERVED_FIELD1 = #{record.reservedField1,jdbcType=VARCHAR},
      RESERVED_FIELD2 = #{record.reservedField2,jdbcType=VARCHAR},
      RESERVED_FIELD = #{record.reservedField,jdbcType=VARCHAR},
      CID = #{record.cid,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gistone.cdsems.database.entity.TDETAILEDCONTAMINATED">
    update T_DETAILED_CONTAMINATED
    <set>
      <if test="massifCode != null">
        MASSIF_CODE = #{massifCode,jdbcType=VARCHAR},
      </if>
      <if test="detailedTitle != null">
        DETAILED_TITLE = #{detailedTitle,jdbcType=VARCHAR},
      </if>
      <if test="detailedWebsite != null">
        DETAILED_WEBSITE = #{detailedWebsite,jdbcType=VARCHAR},
      </if>
      <if test="detailedCompilingUnit != null">
        DETAILED_COMPILING_UNIT = #{detailedCompilingUnit,jdbcType=VARCHAR},
      </if>
      <if test="detailedCompilingTime != null">
        DETAILED_COMPILING_TIME = #{detailedCompilingTime,jdbcType=DATE},
      </if>
      <if test="investigationReportPath != null">
        INVESTIGATION_REPORT_PATH = #{investigationReportPath,jdbcType=VARCHAR},
      </if>
      <if test="testReportPath != null">
        TEST_REPORT_PATH = #{testReportPath,jdbcType=VARCHAR},
      </if>
      <if test="fillState != null">
        FILL_STATE = #{fillState,jdbcType=VARCHAR},
      </if>
      <if test="reservedField1 != null">
        RESERVED_FIELD1 = #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null">
        RESERVED_FIELD2 = #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField != null">
        RESERVED_FIELD = #{reservedField,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        CID = #{cid,jdbcType=DECIMAL},
      </if>
    </set>
    where DID = #{did,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gistone.cdsems.database.entity.TDETAILEDCONTAMINATED">
    update T_DETAILED_CONTAMINATED
    set MASSIF_CODE = #{massifCode,jdbcType=VARCHAR},
      DETAILED_TITLE = #{detailedTitle,jdbcType=VARCHAR},
      DETAILED_WEBSITE = #{detailedWebsite,jdbcType=VARCHAR},
      DETAILED_COMPILING_UNIT = #{detailedCompilingUnit,jdbcType=VARCHAR},
      DETAILED_COMPILING_TIME = #{detailedCompilingTime,jdbcType=DATE},
      INVESTIGATION_REPORT_PATH = #{investigationReportPath,jdbcType=VARCHAR},
      TEST_REPORT_PATH = #{testReportPath,jdbcType=VARCHAR},
      FILL_STATE = #{fillState,jdbcType=VARCHAR},
      RESERVED_FIELD1 = #{reservedField1,jdbcType=VARCHAR},
      RESERVED_FIELD2 = #{reservedField2,jdbcType=VARCHAR},
      RESERVED_FIELD = #{reservedField,jdbcType=VARCHAR},
      CID = #{cid,jdbcType=DECIMAL}
    where DID = #{did,jdbcType=DECIMAL}
  </update>
  <select id="selectByEntityPage" resultMap="BaseResultMap" parameterType="com.gistone.cdsems.database.entity.TBASICSCONTAMINATED">
    select * from (
    select rownum rn,aa.* from (
    select a.*,b.* from (
    (select
    <include refid="Base_Column_List" />
    from T_DETAILED_CONTAMINATED
    where 1=1) a left join (select MASSIF_NAME massifName,MASSIF_CODE massifCode,MASSIF_ADDRESS,CID CCID,MASSIF_COVERED,COUNTY_CODE from T_BASICS_CONTAMINATED)b
    on  a.CID=b.CCID
    )
    where 1=1
    <if test="massifName != null">
      and massifName like '%${massifName}%'
    </if>
    <if test="massifAddress != null">
      and MASSIF_ADDRESS like '%${massifAddress}%'
    </if>
    <if test="massifCovered != null">
      and  TO_NUMBER(MASSIF_COVERED) &gt;#{massifCovered,jdbcType=VARCHAR}
    </if>
    <if test="reservedField3 != null">
      and TO_NUMBER(MASSIF_COVERED) &lt; #{reservedField3,jdbcType=VARCHAR}
    </if>

    <if test="countyCode != null">
      and COUNTY_CODE = #{countyCode,jdbcType=VARCHAR}
    </if>
     order by DID desc
    ) aa)
    where  rn between #{pageNumber} and #{pageSize}
  </select>
  <select id="selectByCount" resultType="Integer" parameterType="com.gistone.cdsems.database.entity.TBASICSCONTAMINATED" >
    select count(*) from (
    (select
    <include refid="Base_Column_List" />
    from T_DETAILED_CONTAMINATED
    where 1=1) a left join (select MASSIF_NAME massifName,MASSIF_CODE,MASSIF_ADDRESS,CID CCID,MASSIF_COVERED,COUNTY_CODE from T_BASICS_CONTAMINATED)b
    on  a.DID=b.CCID
    )
    where 1=1
    <if test="massifName != null">
      and massifName like '%${massifName}%'
    </if>
    <if test="massifAddress != null">
      and MASSIF_ADDRESS like '%${massifAddress}%'
    </if>
    <if test="massifCovered != null">
      and  TO_NUMBER(MASSIF_COVERED) &gt;#{massifCovered,jdbcType=VARCHAR}
    </if>
    <if test="reservedField3 != null">
      and TO_NUMBER(MASSIF_COVERED) &lt; #{reservedField3,jdbcType=VARCHAR}
    </if>

    <if test="countyCode != null">
      and COUNTY_CODE = #{countyCode,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>