<div class=" box-body  index">
	<div class="row pt15 pb15">
		<!-- top -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<!-- 标准规范栏目 -->
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<h2 class="headline headline1">
					<p></p>
					<a href="javascript:gotoNewsList(2)">更多<i class="iconfont no-margin">&#xe618;</i></a>
				</h2>
				<div class="panel panel-default">
        			<div class="panel-body  boxing h-298">
        				<div class="row">
        					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        						<ul class="msgList col-lg-12 col-md-12 col-sm-12 col-xs-12" id="newsList1">
        								
        							</ul>
        					</div>
        				</div>
        			</div>
        		</div>
			</div>
			<!-- 系统通知 -->
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<h2 class="headline headline2">
					<p></p>
					<a href="javascript:gotoNewsList(3)">更多<i class="iconfont no-margin">&#xe618;</i></a>
				</h2>
				<div class="panel panel-default">
        			<div class="panel-body  boxing h-298">
        				<div class="row">
        					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        							<ul class="msgList2" id="messageList"></ul>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        		
			</div>
		</div>
		<!-- bottom -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<!-- 法律法规栏目 -->
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<h2 class="headline headline3">
					<p></p>
					<a href="javascript:gotoNewsList(1)" >更多<i class="iconfont no-margin">&#xe618;</i></a>
				</h2>
				<div class="panel panel-default no-margin">
        			<div class="panel-body  boxing h-298">
        				<div class="row">
        					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        							<ul class="msgList col-lg-12 col-md-12 col-sm-12 col-xs-12" id="newsList2">
        								
        							</ul>
        					</div>
        				</div>
        			</div>
        		</div>
			</div>
			<!-- 数据概况 -->
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<h2 class="headline headline4">
					<p></p>
				</h2>
				<div class="panel panel-default  no-margin">
        			<div class="panel-body  boxing  h-298  Gk">
        				<div class="row">
        					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding">
        							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  gk1">
       									<div><img src="../../img/index/img_01.png" /></div>
       									<p id="gk1"><i class="timer sta0" data-to="" data-speed="1500"></i></p>
        							</div>
        							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 gk2  mr0">
       									<div><img src="../../img/index/img_02.png" /></div>
       									<p id="gk2"><i class="timer sta1" data-to="" data-speed="1500"></i></p>
        							</div>
        							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 gk3 mb0">
       									<div><img src="../../img/index/img_03.png" /></div>
       									<p id="gk3"><i class="timer sta2"  data-to="" data-speed="1500"></i></p>
        							</div>
        							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 gk4 no-margin">
       									<div><img src="../../img/index/img_04.png" /></div>
       									<p id="gk4"><i class="timer sta3"data-to="" data-speed="1500"></i></p>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
			
			</div>
		</div>
	</div>
</div>