<div class=" box-body  news">
    <!-- 面包屑 -->
    <div class="panel panel-default  crumbs_box">
        <div class="panel-body  clearfix" >
            <p class="crumbs  pull-left"><i class="iconfont">&#xe690;</i><span>首页</span><span> > </span><span id="panelTitle">法律法规</span></p>
        	<div class="pull-right">
        		<a href="indIndex.html#all"><img src="../../img/index/indexBack.png"/><span>返回</span></a>
        	</div>
        </div>
    </div>
    <div class="panel panel-default  index">
        <div class="panel-body">
            <div >
				<h2 class="headline headline2">
					<p></p>
				</h2>
				<div class="panel panel-default">
        			<div class="panel-body  boxings ">
        				<div class="row">
        					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        						<ul id="msgList" class="msgList col-lg-12 col-md-12 col-sm-12 col-xs-12" >
       								
        						</ul>
        						<div  class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        							<ul id="paginator" class="pagination"></ul>
        						</div>
        						
        					</div>
        				</div>
        			</div>
        		</div>
    	</div>
	</div>
</div>