<!DOCTYPE html>
<head>
    <title>成都市土壤环境综合管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit"/>
	<meta name="force-rendering" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
	<!-- Bootstrap core CSS -->
    <link href="../../css/plugins/bootstrap-table/bootstrap/bootstrap.min.css" rel="stylesheet">
    
    <!-- 自定义 -->
    <link href="../../css/public.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/measure.css" rel="stylesheet">
</head>
<body >
	<div class="page-content-wrapper  clearfix">
		<div  id="ui-view" ></div>
	</div>
	
	
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/vipspa.js"></script>
	<script src="../../js/app/xxgk/xxIndex.js"></script>
	
	
</body>
