<div class=" box-body">
    <!-- 面包屑 -->
    <div class="panel panel-default  crumbs_box">
        <div class="panel-body  clearfix">
            <p class="crumbs  pull-left"><i class="iconfont">&#xe690;</i><span>重点行业监管企业</span></p>
        	<div class="pull-right">
        		<button type="button"  class="btn btn-origin mr10"   onclick="add()"><i class="iconfont ml0 mr5">&#xe61e;</i>添加</button>
        		<button type="button"  class="btn btn-danger mr10"><i class="iconfont ml0 mr5">&#xe60d;</i>批量删除</button>
        		<button type="button"  class="btn btn-info mr10  btn-import"><i class="iconfont">&#xe6ae;</i>导入</button>
        		<button type="button"  class="btn btn-primary mr10 btn-import"><i class="iconfont">&#xe6ad;</i>导出</button>
        	</div>
        </div>
    </div>
    <div class="panel panel-default  content">
        <div class="panel-body">
            <div class="clearfix">
	            <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
	            	<!-- 查询条件 -->
	            	<!-- 查询条件最多显示三个超出显示在折叠窗里 -->
	            	<div class="col-lg-12 col-md-12 col-sm-12 no-padding">
	            		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group no-margin">
	            			<div class="col-lg-3 col-md-3 col-sm-3  col-xs-3 no-padding text-right">
	            				<label >条件查询</label>
	            			</div>
	            			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr0">
	            				<input type="text" class="form-control" >
	            			</div>
	            		</div>
	            		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group no-margin">
	            			<div class="col-lg-3 col-md-3 col-sm-3  col-xs-3 no-padding text-right">
	            				<label>条件查询</label>
	            			</div>
	            			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr0">
	            				<input type="text" class="form-control" >
	            			</div>
	            		</div>
	            		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group no-margin">
	            			<div class="col-lg-3 col-md-3 col-sm-3  col-xs-3 no-padding text-right">
	            				<label>条件查询</label>
	            			</div>
	            			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr0">
	            				<input type="text" class="form-control" >
	            			</div>
	            		</div>
	            		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
	            			<button type="button"  class="btn btn-success  btn-search"  onclick="search()">查询<i class="iconfont  iconfont1">&#xea1b;</i></button>
	            		</div>
	                 </div>
	            </div>
	    	</div>
	    	<!-- 折叠窗 -->
	    	<div class="clearfix"   id="collapse" >
              <div class="col-lg-12 col-md-12 col-sm-12 no-padding  mt15"  >
           		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group no-margin">
           			<div class="col-lg-3 col-md-3 col-sm-3  col-xs-3 no-padding text-right">
           				<label for="name">条件查询</label>
           			</div>
           			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr0">
           				<input type="text" class="form-control" >
           			</div>
           		</div>
           		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group no-margin">
           			<div class="col-lg-3 col-md-3 col-sm-3  col-xs-3 no-padding text-right">
           				<label for="name">条件查询</label>
           			</div>
           			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr0">
           				<input type="text" class="form-control" >
           			</div>
           		</div>
           		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group no-margin">
           			<div class="col-lg-3 col-md-3 col-sm-3  col-xs-3 no-padding text-right">
           				<label for="name">条件查询</label>
           			</div>
           			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr0">
           				<input type="text" class="form-control" >
           			</div>
           		</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group no-margin">
           			<div class="col-lg-3 col-md-3 col-sm-3  col-xs-3 no-padding text-right">
           				<label for="name">条件查询</label>
           			</div>
           			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr0">
           				<input type="text" class="form-control" >
           			</div>
           		</div>
          	  </div>
          	</div>
		    <div class="collapseBtn">
           		<a class="flip"><img class="xs1"  src="img/index/arrowTop.png"><img class="xs2" style="display:none;transform: rotate(180deg);" src="img/index/arrowTop.png"></a>
            </div>
            <div >
            	<table class="table table-bordered  " id="dataTable"> </table>  
            </div>
           	
            
    		
    	</div>
	</div>
</div>