<div class=" box-body col-md-12">
    <!-- 面包屑 -->
    <div class="panel panel-default crumbs_box">
        <div class="panel-body clearfix">
            <p class="pull-left crumbs">
            	<i class="iconfont">&#xe690;</i>当前位置：
                <span>系统管理</span><span> > </span><span>用户管理</span>
            </p>
            <div class="pull-right">
            	<button id="sys_user_add" type="button"  class="btn btn-origin eleNone"   onclick="addUser()"><i class="iconfont ml0 mr5">&#xe61e;</i>添加</button>
            </div>
        </div>
    </div>
    <!-- 表格 -->
    <div class="panel panel-default content">
        <div class="panel-body">
            <div class="col-lg-12 col-md-12 col-sm-12 no-padding clearfix">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 no-padding text-right" >
                            <label class="">用户名</label>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 pr0">
                            <input id="suUsername" type="text" class="form-control " placeholder="请输入用户名，支持模糊匹配">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 no-padding text-right" >
                            <label class="">手机号码</label>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 pr0">
                            <input id="suPhone" type="text" class="form-control " placeholder="请输入手机号码，支持模糊匹配">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right pull-right no-padding">
           			<button type="button"  class="btn btn-success  btn-search"  onclick="initUserTable()">查询<i class="iconfont  iconfont1">&#xea1b;</i></button>
           		</div>
               
            </div>
             <table class="table text-center table-bordered" id="dataTable">  
            </table>  
        </div>
    </div>
</div>